__pycache__/
*.pyc
*.pyo
*.pyd

#virtual envirronments
venv/
.env/

# macOS system files
.DS_Store

# Data & generated assets
data/
*.pickle
*.pkl
*.npy
*.npz

# Media / results
*.png
*.jpg
*.jpeg
*.mp4
*.json
!confusion_matrix.png
*.gif
!FINAL_DEMO.gif
!DEMO.gif

# Notebooks & autosaves
*.ipynb_checkpoints/
Notebooks/.ipynb_checkpoints/

# Logs / temp
*.log
*.tmp
